<!DOCTYPE html>
<html>
<head>
    <title>Agents</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>Agents</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        {% for agent in agents %}
        <tr>
            <td>{{ agent.agent_id }}</td>
            <td>{{ agent.agent_name }}</td>
            <td>{{ agent.agent_phone }}</td>
            <td>
                <a href="/agents/update/{{ agent.agent_id }}">Edit</a>
                <a href="/agents/delete/{{ agent.agent_id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div id="filter">
        <form class="crud" method="POST" action="/agents/filter" style="display: flex; flex-direction: row;">
            <label for="agent_id">Agent ID:</label>
            <input type="number" name="agent_id">
            <br>
            <input type="submit" value="Filter">
        </form>
        <a href="/agents"><button>Reset Filter</button></a><br>
    </div>
    
    <br>
    <a href="/agents/create"><button> New Agent </button></a> <br>
    <a href="/startup"><button>Back to EstateHub Home </button></a>
</body>
</html>
