<!DOCTYPE html>
<html>
<head>
    <title>Contracts</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>List of Contracts</h1>
    <table>
        <tr>
            <th>Contract ID</th>
            <th>Contractor (Contractor ID)</th>
            <th>Property (Property ID)</th>
            <th>Actions</th>
        </tr>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.contract_id }}</td>
                <td>{{ contract.contractor.contractor_name }} ({{ contract.contractor.contractor_id }})</td>
                <td>{{ contract.property.property_address }} {{ contract.property.property_zip }} ({{ contract.property.property_id }})</td>
                <td>
                    <a href="/contracts/update/{{ contract.contract_id }}">Update</a>
                    <a href="/contracts/delete/{{ contract.contract_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div id="filter">
        <form class="crud" method="POST" action="/contracts/filter" style="display: flex; flex-direction: row;">
            <label for="contract_id">Contract ID:</label>
            <input type="number" name="contract_id">
            <br>
            <label for="contractor_id">Contractor ID:</label>
            <input type="number" name="contractor_id">
            <br>
            <label for="property_id">Property ID:</label>
            <input type="number" name="property_id">
            <br>
            <input type="submit" value="Filter">
        </form>
        <a href="/contracts"><button>Reset Filter</button></a><br>
    </div>
    
    <a href="/contracts/create"><button>Create New Contract</button></a><br>
    <a href="/startup"><button>Back to EstateHub Home</button></a>

</body>
</html>
