<!DOCTYPE html>
<html>
<head>
    <title>Create Sale</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>Create Sale</h1>
    <form class="crud" method="post" action="/sales/create">
        <label for="agent">Agent:</label>
        <select id="agent" name="agent_id" required>
            {% for agent in agents %}
                <option value="{{ agent.agent_id }}">{{ agent.agent_id }} - {{ agent.agent_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="customer">Customer:</label>
        <select id="customer" name="customer_id" required>
            {% for customer in customers %}
                <option value="{{ customer.customer_id }}">{{ customer.customer_id }} </option>
            {% endfor %}
        </select>
        <br>
        <label for="property">Property:</label>
        <select id="property" name="property_id" required>
            {% for property in properties %}
                <option value="{{ property.property_id }}">{{ property.property_id }} - {{ property.property_address }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="sale_date">Sale Date:</label>
        <input type="date" id="sale_date" name="sale_date" required>
        <br>
        <label for="sale_amount">Sale Amount:</label>
        <input type="number" step="0.01" id="sale_amount" name="sale_amount" required>
        <br>
        <input type="submit" value="Create">
    </form>
    <a href="/sales"><button>Cancel, Return Back to Sales</button></a>
</body>
</html>

