<!DOCTYPE html>
<html>
<head>
    <title>Create Contractor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>Create Contractor</h1>
    <form class="crud" method="post" action="/contractors/create">
        <label for="contractor_name">Contractor Name:</label>
        <input type="text" id="contractor_name" name="contractor_name" required>
        <br>
        <label for="contractor_phone">Contractor Phone:</label>
        <input type="text" id="contractor_phone" name="contractor_phone" required>
        <br>
        <input type="submit" value="Create">
    </form>
    <a href="/contractors"><button>Cancel, Return Back to Contractors</button></a>
</body>
</html>
