<!DOCTYPE html>
<html>
<head>
    <title>Create Agent</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>Create Agent</h1>
    <form class="crud" method="POST" action="/agents/create">
        <label for="agent_name">Name:</label>
        <input type="text" name="agent_name" required>
        <br>
        <label for="agent_phone">Phone:</label>
        <input type="text" name="agent_phone" required>
        <br>
        <input type="submit" value="Create">
    </form>
    <br>
    <a href="/agents">Cancel, Return Back to Agents</a>
</body>
</html>
