<!DOCTYPE html>
<html>
<head>
    <title>Create Sale - Properties can ONLY be sold by the Agent Assigned. </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Create Sale</h1>
    <form class="crud" method="post" action="/sales/create" id="sale-form">
        <label for="agent">Agent:</label>
        <select id="agent" name="agent_id" required>
            {% for agent in agents %}
                <option value="{{ agent.agent_id }}">{{ agent.agent_id }} - {{ agent.agent_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="property">Property:</label>
        <select id="property" name="property_id" required disabled>
            <option value="">Select an Agent first</option>
        </select>
        <br>
        <label for="customer">Customer:</label>
        <select id="customer" name="customer_id" required>
            {% for customer in customers %}
                <option value="{{ customer.customer_id }}">{{ customer.customer_id }} -  {{ customer.customer_name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="sale_date">Sale Date:</label>
        <input type="date" id="sale_date" name="sale_date" required>
        <br>
        <label for="sale_amount">Sale Amount:</label>
        <input type="number" step="0.01" id="sale_amount" name="sale_amount" required>
        <br>
        <input type="submit" value="Create">
    </form>
    <a href="/sales"><button>Cancel, Return Back to Sales</button></a>

<!-- JAVASCRIPT USED to dynamically assign. Really only want the sales to happen based on what agent owns a property. -->
    <script>
        $(document).ready(function() {
            $('#agent').change(function() {
                var agentId = $(this).val();
                if (agentId) {
                    $('#property').prop('disabled', false);
                    $.ajax({
                        url: '/get_properties/' + agentId,
                        type: 'GET',
                        success: function(response) {
                            $('#property').html(response);
                        }
                    });
                } else {
                    $('#property').prop('disabled', true);
                    $('#property').html('<option value="">Select an Agent first</option>');
                }
            });
        });
    </script>
</body>
</html>
