<!DOCTYPE html>
<html>
<head>
    <title>Properties</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>List of Properties</h1>
    <table>
        <tr>
            <th>Property ID</th>
            <th>Property Address</th>
            <th>Property ZIP</th>
            <th>Agent Name</th>
            <th># Beds</th>
            <th># Baths</th>
            <th>Listing Date</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for property in properties %}
            <tr>
                <td>{{ property.property_id }}</td>
                <td>{{ property.property_address }}</td>
                <td>{{ property.property_zip }}</td>
                <td>{{ property.agent.agent_name }}</td>
                <td>{{ property.number_beds }}</td>
                <td>{{ property.number_baths }}</td>
                <td>{{ property.listing_date }}</td>
                <td>{{ property.price }}</td>
                <td>
                    <a href="/properties/update/{{ property.property_id }}">Update</a>
                    <a href="/properties/delete/{{ property.property_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div id = 'filter'>
        <form class="crud" method="POST" action="/properties/filter" style="display: flex; flex-direction: row;">
            <label for="zip_code">Zip Code:</label>
            <input type="text" name="zip_code">
            <br>
            <label for="num_baths"># Baths:</label>
            <input type="number" name="num_baths">
            <br>
            <label for="num_beds"># Beds:</label>
            <input type="number" name="num_beds">
            <br>
            <input type="submit" value="Filter">
        </form>
    </div>
    <a href="/properties/create"><button>Create New Property</button></a><br> 
    <a href="/startup"><button>Back to EstateHub Home</button></a>
</body>
</html>
