<!DOCTYPE html>
<html>
<head>
    <title>Sales</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1>List of Sales</h1>
    <table>
        <tr>
            <th>Sale ID</th>
            <th>Agent</th>
            <th>Customer ID</th>
            <th>Property ID</th>
            <th>Sale Date</th>
            <th>Sale Amount</th>
            <th>Actions</th>
        </tr>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.sale_id }}</td>
                <td>{{ sale.agent.agent_name }} ({{ sale.agent.agent_id }})</td>
                <td>{{ sale.customer_id }}</td>
                <td>{{ sale.property_id }}</td>
                <td>{{ sale.sale_date }}</td>
                <td>{{ sale.sale_amount }}</td>
                <td>
                    <a href="/sales/update/{{ sale.sale_id }}">Update</a>
                    <a href="/sales/delete/{{ sale.sale_id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/sales/create">Create New Sale</a><br>
    <a href="/startup">Back to EstateHub Home</a>
</body>
</html>
