<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
    <title>Agent {{ agent.agent_id }} Report</title>
</head>
<body>
   <h1>Report for {{ agent.agent_name }}</h1> 
   <table>
        <tr>
            <th>Sale ID</th>
            <th>Customer ID</th>
            <th>Property ID</th>
            <th>Sale Date</th>
            <th>Sale Amount</th>
        </tr>
        {% for sale in sale_list %}
            <tr>
                <td>{{ sale.sale_id }}</td>
                <td>{{ sale.customer_id }}</td>
                <td>{{ sale.property_id }}</td>
                <td>{{ sale.sale_date }}</td>
                <td>{{ sale.sale_amount }}</td>
            </tr>
        {% endfor %}
    </table>
    <h1>{{ agent.agent_name }} has sold {{ sale_list.count() }} properties for a total of ${{ total }}</h1>
    <a href="/sales">Back to Sales</a>
</body>
</html>