<!DOCTYPE html>
<html>
<head>
    <title>EstateHub Startup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='startup.css') }}">
</head>
<body>
    <h1 id="welcome">EstateHub</h1>
    <div id="navigations">
        <form class="card" method="get" action="/contractors">
            <button type="submit"> <img src="/staticFiles/contractors.png"><p>Contractors</p></button>
        </form>
        <form class="card" method="get" action="/agents">
            <button type="submit"> <img src="/staticFiles/Agents.png"><p>Agents</p></button>
        </form>
        <form class="card" method="get" action="/properties">
            <button type="submit"> <img src="/staticFiles/properties.png"><p>Properties</p></button>
        </form>
        <form class="card" method="get" action="/customers">
            <button type="submit"> <img src="/staticFiles/Customers.png"><p>Customers</p></button>
        </form>
        <form class="card" method="get" action="/sales">
            <button type="submit"> <img src="/staticFiles/sales.png"><p>Sales</p></button>
        </form>
        <form class="card" method="get" action="/contracts">
            <button type="submit"> <img src="/staticFiles/Contracts.png"><p>Contracts</p></button>
        </form>
    </div>
</body>
</html>
