<!DOCTYPE html>
<html>
<head>
    <title>EstateHub Startup</title>
</head>
<body>
    <h1>Welcome to EstateHub, Agent!</h1>
    <div>
        <h3>Choose what to view: </h3>
        <form method="get" action="/contractors">
            <button type="submit">Contractors</button>
        </form>
        <form method="get" action="/agents">
            <button type="submit">Agents</button>
        </form>
        <form method="get" action="/properties">
            <button type="submit">Properties</button>
        </form>
        <form method="get" action="/customers">
            <button type="submit">Customers</button>
        </form>
        <form method="get" action="/sales">
            <button type="submit">Sales</button>
        </form>
        <form method="get" action="/contracts">
            <button type="submit">Contracts</button>
        </form>
    </div>
</body>
</html>
