body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8dc4dd;
    text-align: center;
}

.login-body {
    font-family: Arial, sans-serif;
    background-color: #8dc4dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#welcome {
    color: black;
}



.card {
box-shadow: 0 4px 8px 0 rgba(207, 196, 196, 0.2);
transition: 0.3s;
}

.card:hover {
box-shadow: 0 20px 40px 0 rgba(141, 125, 168, 0.658);
}

.container {
padding: 2px 16px;
}
button, input{
    border-radius: 10px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: 1px solid rgb(115, 131, 184)
}

.card button{
    background-color:#fff;
    border: 0;
}

img{
    max-width: 300px;
}

#navigations{
    width: 90%;
    padding: 2em 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

table{
    width: 90%; 
    border-collapse: collapse;
    margin-bottom: 2em;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th{
    background-color: #6495ED;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #eaeaea;
}
tbody tr:nth-of-type(odd) {
    background-color: #fff;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #6495ED;
}
tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.crud{
    display: flex;
    flex-direction: column;
    padding: 1em 18%;
    margin-bottom: 1em;
}

label{
    margin-bottom: 0.5em;
}

input[type=text]{
    padding: 0.3em 0.6em;
    border-radius: 5px;
    border: 1px solid rgb(198, 182, 182)
}



.login-box label {
    display: block;
    margin-bottom: 10px;
}

.login-box input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-img img {
    max-width: 40%; 
    height: auto;
}

.login-box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 35px;
    width: 300px; 
}

.login-box h2 {
    color: rgb(79, 105, 138);
    font-size: 30px;
    font-family: Arial, sans-serif;
    padding: 10px; 
}

.login-header {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    background-color: #65a8d5;
    border: 4px solid rgb(76, 126, 201); 
    padding: 10px;
    border-radius: 10px;
    
}

.login:hover {
    box-shadow: 0 20px 40px 0 rgba(141, 125, 168, 0.658);
    }